<div class="row text-center">
	<a href="/user/them-tu" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Thêm từ</a>
</div>
<table id="example" class="table table-bordered table-hover" style="width:100%">
  <thead>
      <tr>
          <th>Từ TA</th>
          <th>Từ TV</th>
          <th>Hình ảnh</th>
          <th>Trang thái</th>
          <th>Người sở hữu</th>
          <th>Thao tác</th>
      </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < data.length; i++){ %>
      <tr>
          <td><%- data[i].english_word %></td>
          <td><%- data[i].vietnam_word %></td>
          <% if(data[i].img == ''){ %>
          <td><img src="/static/images/systems/no_image.png" with="60" height="60"/></td>
          <% }else {%>
          <td><img src="/static/images/words/<%- data[i].img %>" with="60" height="60"/></td>
          <% }%>
          <% if(data[i].status == 0){ %>
          <td class="status-detail" style="color: red; font-weight: bold">Ẩn</td>
          <% }else {%>
          <td class="status-detail">Hiện</td>
          <% }%>
          <td><%- name %></td>
          <td class="action">
            <a href="/user/sua-tu?id=<%- data[i].id %>"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="/user/xoa-tu?id=<%- data[i].id %>"><span class="glyphicon glyphicon-trash" style="color: red"></span></a>
            <a class="toggle-status" data-id="<%- data[i].id %>" href="javascript:void(0)"><span class="glyphicon glyphicon-eye-open"></span></a>
          </td>
      </tr>
    <%}%>
  </tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable({
      order: []
    });
	});
  //Chuyen trang thai tu
  $('.toggle-status').click(function(){
    var idWord = $(this).data('id');
    var currentStatus = $(this).parent().parent().find('.status-detail');
    var htmlCurrentStatus = currentStatus.html();
    if( htmlCurrentStatus == 'Hiện'){
      currentStatus.css('color', 'red');
      currentStatus.css('font-weight', 'bold');
      currentStatus.html('Ẩn');
    }else{
      currentStatus.css('color', 'black');
      currentStatus.css('font-weight', 'normal');
      currentStatus.html('Hiện');
    }
    $.get('/user/chuyen-trang-thai?id_word='+idWord, function(data){
    })
  })
</script>